:root {
  --white: #f9f5ff;
  --black: #28262c;
  --dark-green: #d4c2fc;
  --green: #998fc7;
  --blue: #22333b;
}

html {
  scroll-behavior: smooth;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: #22333b;
}
h1,h2,h3 {
  font-family: filson-soft,sans-serif;
  color: #a9927d;
  position: relative;
}
.back-btn {
  margin: 20px;
  position: absolute;
}
.back-btn a {
  text-decoration: none;
}
.main {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100vh;
}
.container {
  width: 100%;
  padding: 0 11%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*font-family: filson-soft,sans-serif;*/
}
.img {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 20px;
  margin: auto;
}
.img img {
  border-radius: 25%;
  padding: 5px;
  border-bottom: 25px solid #5e503f;
  border-left: 25px solid #5e503f;
  margin: 25px 0;
  max-width: 400px;
}
/*.img h2::after {*/
/*  position: absolute;*/
/*  align-content: center;*/
/*  content: " ";*/
/*  width: 50%;*/
/*  left: 0;*/
/*  height: 2px;*/
/*  bottom: 2px;*/
/*  background-color: #5e503f;*/
/*}*/
.text {
  margin: auto 20px;
}
.text h1 {
  font-size: 40px;
}
.text h1::after {
  position: absolute;
  content: " ";
  width: 30%;
  height: 4px;
  left: 0;
  bottom: 2px;
  background-color: #5e503f;
}
p {
  font-family: bilo, sans-serif;
  font-size: 15px;
  color: #f2f4f3;
  line-height: 25px;
  margin: 20px 0 20px 0;
  max-width: 480px;
}
.text h2::after {
  position: absolute;
  content: " ";
  width: 20%;
  height: 2px;
  left: 0;
  bottom: 2px;
  background-color: #5e503f;
}
.social-links {
  border: 1px solid #f9f5ff;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #f2f4f3;
  margin: 10px 5px;
  height: 40px;
  width: 40px;
}
.social-links:hover {
  color: #FF4365;
  border-color: #FF4365;
}
.commentbox {
  overflow: visible;
  max-height: 250px;
  border: 2px solid #EEF2E6;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
}
