:root {
    --white: #edf0f1;
    --black: #1b1919;
    --dark-green: #1C6758;
    --green: #3D8361;
    --beige: #D6CDA4;
    --off-white: #EEF2E6;
  }

html {
    scroll-behavior: smooth;
    background: var(--dark-green);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--off-white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: filson-soft,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--off-white);
}

h1 {
    font-size: 4rem;
}

p {
    font-family: bilo, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: var(--off-white);
}

.back-btn {
    margin: 20px;
    position: absolute;
}

.back-btn a {
    text-decoration: none;
    
}

.row {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100vh;
}

.side-column {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 20px;
    margin: auto;
}

.vl {
    border-left: 1px solid var(--off-white);
    height: 70vh;
    margin: auto
  }

  .about-me {
    margin: auto 20px;
  }

  .site-link {
    margin: 10px 10px 10px 0;
    text-decoration: none;
  }

  .comments {
    overflow: scroll;
    max-height: 250px;
    border: 2px solid #EEF2E6;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .pfp {
    border-radius: 50%;
    max-width: 500px;
  }

  @media screen and (max-width: 900px){
    .row {
        flex-direction: column;
    }
    
    .vl {
        display: none;
    }

    .side-column {
        width: fit-content;
    }
}

@media screen and (max-width: 560px){
    h1 {
        font-size: 3rem;
    }

    .pfp{
        width: 320px;
        margin: auto;
    }
}