@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #edf0f1;
    --black: #1b1919;
    --dark-purple: #6C4AB6;
    --light-purple: #8D72E1;
    --dark-blue: #8D9EFF;
    --light-blue: #B9E0FF;
  }

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    color: var(--white);
}

/***        tv screen styling       ***/
  
  #container {
    max-width: 850px;
    margin: auto;
  }
  
  #monitor {
      background: #000; 
      position: relative;
      border-top: 3px solid #888; 
      margin: 5%;
      padding: 2% 2% 4% 2%; 
      border-radius: 10px; 
      border-bottom-left-radius: 50% 2%; 
      border-bottom-right-radius: 50% 2%; 
      transition: margin-right 1s;
  }
  
  #monitor:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 3%;
      left: 36%;
      height: .5%; 
      width: 28%;
      background: #ddd; 
      border-radius: 50%; 
      box-shadow: 0 0 3px 0 white; 
  }
  
#monitorscreen {
    position: relative;
    background-color: #777;
    background-size: cover; 
    background-position: top center;
    height: 0; 
    padding-bottom: 56.25%; 
    position: relative;
    overflow: hidden;
}
  
  
  @media all and (min-width: 960px) {
      #monitor {
          -webkit-animation: tvflicker .2s infinite alternate; 
          -moz-animation:    tvflicker .5s infinite alternate; 
          -o-animation:      tvflicker .5s infinite alternate; 
          animation:         tvflicker .5s infinite alternate; 
      }
  
      @-webkit-keyframes tvflicker {
        0%   { box-shadow: 0 0 100px 0 rgba(200,235,255,0.4); }
        100% { box-shadow: 0 0 95px 0 rgba(200,230,255,0.45); }
      }
      @-moz-keyframes tvflicker {
        0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
        100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
      }
      @-o-keyframes tvflicker {
        0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
        100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
      }
      @keyframes tvflicker {
        0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
        100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
      }
  }

/***     dvd icons styling      ***/

body {
    text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #45484d;
  background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #45484d 0%, #000000 100%);
}

#link {
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 200px;
  height: 230px;
  cursor: pointer;
}

#pfp {
    -webkit-filter: drop-shadow(5px 0 0 white) 
        drop-shadow(0 5px 0 white)
        drop-shadow(-5px 0 0 white) 
        drop-shadow(0 -5px 0 white);
    height: 100%;
    width: 100%;
}

.logo {
    width: 20%;
    height: auto;
    margin: 0 auto;

}